%table.table.table-bordered.table-striped
  %h1 ORDERS
  !!!
  %html
    %head
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %body
      %h1
        Welcome to #{@user.username}
      %br  
        Welcome to  #{@user.email}
      %br
      %p
        
      %br  
        your Price is: #{@user.price_in_cents}.
        %br
      %p
        To login to the site, 
        just follow this link: #{@url}.
      %p 
      Thanks for joining and have a great day!